    <form action="/square_root/results" method="post"> 
  <div>
    <label for="user_number">Enter a number</label>
  </div>
  <div>
    <input type="text" id="user_number" name="user_number" placeholder="What number do you want to square?" required>
     </div>
  <button>Calculate square root</button>
</form>
